body {
  background-color: antiquewhite;
  padding: 5px;
}

table,
tr,
td {
  border: solid 1px;
  text-align: center;
}

table {
  background-color: white;
  margin: 0;
  width: 100%;
}

h1 {
  text-align: center;
}

button {
  background: aquamarine;
  border-radius: 4px;
}
